<div class="col-md-4">
  <div class="cardEsperanza">
    <br>
    <h4 class="nombre">{{datos.name}}</h4>
    <img class="fotoArtista" src={{imagen}} />
    <br />
    <h5 class="genero">General</h5>
    <p class="generos"> {{datos.global}}</p>
    <br />
    <h5 class="genero">Hombres</h5>
    <p class="generos"> {{datos.hombres}}</p>
    <br />
    <h5 class="genero">Mujeres</h5>
    <p class="generos"> {{datos.mujeres}}</p>
    <br />
  </div>
  <br />
  <br />
</div>